
<uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


<meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAxK0GKLjbq39t9YeRb-FWSPNdtybmHnJM"
            />
